<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %logger %msg %n</pattern>
        </encoder>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
        </encoder>
    </appender>

    <appender name="METRICS" class="io.prometheus.client.logback.InstrumentedAppender" />

    <logger name="no.nav" level="DEBUG"/>
    <logger name="ktor" level="INFO"/>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="METRICS"/>
    </root>

</configuration>